<p style="text-align: center; font-weight: bold;">STANDARD AGREEMENT FORM (F-2)</p>
<p style="text-align: center; font-weight: bold;">{{department_name}}</p>
<hr>
<p><strong>Agreement No:</strong> ____________ / {{current_year}}</p>
<p><strong>Name of Work:</strong> {{work_name}}</p>
<p><strong>Name of Contractor:</strong> {{contractor_name}}</p>
<p><strong>Estimated Cost:</strong> Rs. {{estimated_cost}}</p>
<p><strong>Agreed Amount:</strong> Rs. {{agreed_amount}}</p>
<p><strong>Time Allowed:</strong> {{time_allowed}}</p>
<p><strong>Date of Issue of Work Order:</strong> {{date_issue}}</p>
<hr>
<p>This agreement, made this {{current_date}} between the Governor of Jharkhand (hereinafter called the "Government") of the one part and <strong>{{contractor_name}}</strong> (hereinafter called the "Contractor") of the other part.</p>
<p>Whereas the Contractor has agreed to execute the work of <strong>"{{work_name}}"</strong> at the rates specified in the schedule attached.</p>
<br><br><br>
<p><strong>Signature of Contractor</strong><br>{{contractor_address}}</p>
<br>
<p><strong>Executive Engineer</strong><br>{{department_name}}</p>