<p style="text-align: center; font-weight: bold;">GOVERNMENT OF JHARKHAND</p>
<p style="text-align: center; font-weight: bold;">OFFICE OF THE EXECUTIVE ENGINEER</p>
<p style="text-align: center; font-weight: bold;">{{department_name}}</p>
<hr>
<p><strong>Letter No:</strong> {{ref_number}} <span style="float: right;"><strong>Date:</strong> {{current_date}}</span></p>
<p><strong>To,</strong><br>{{contractor_name}}<br>{{contractor_address}}</p>
<p><strong>Subject: Submission of Performance Guarantee for "{{work_name}}"</strong></p>
<p>Sir,</p>
<p>With reference to the Work Order issued for the above-mentioned work, you are requested to submit the Performance Guarantee (Security Deposit) as per the rules.</p>
<p><strong>Required PG Amount:</strong> Rs. {{pg_amount}} ({{pg_percent}}% of Agreement Value)</p>
<p>Please submit the Bank Guarantee / FDR in favor of the Executive Engineer within <strong>7 days</strong> from the issue of this letter, failing which the agreement process will be delayed.</p>
<br><br><p><strong>Executive Engineer</strong><br>{{department_name}}</p>