<p style="text-align: center; font-weight: bold;">GOVERNMENT OF JHARKHAND</p>
<p style="text-align: center; font-weight: bold;">{{department_name}}</p>
<hr>
<p><strong>Memo No:</strong> {{ref_number}} <span style="float: right;"><strong>Date:</strong> {{current_date}}</span></p>
<p><strong>To,</strong><br>{{recipient_name}}<br>{{recipient_designation}}</p>
<p><strong>Subject: SHOW CAUSE NOTICE for delay in execution of work.</strong></p>
<p>Sir/Madam,</p>
<p>It has come to the notice of the undersigned that the progress of the work <strong>"{{work_name}}"</strong> is highly unsatisfactory. Despite repeated verbal instructions, no significant improvement has been observed.</p>
<p>You are hereby directed to explain within <strong>3 days</strong> why action should not be taken against you.</p>
<br><br><p><strong>Competent Authority</strong><br>{{department_name}}</p>